

body{
  font-family:'PT Serif', serif;
}

.header{
  border-radius:0%;
  background-color:#39474e;
  margin: 0;
  padding:2%;
}


.navbar {
  border: 0;
}

/*logo*/
.ironlogo{
  float:left;
}
.ironlogo img{
  clear:both;
  height:7rem;
}
.ironlogo img:hover {
  transform: scale(1.1);
}
/*turn box around logo off*/
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #9d9d9d;
    background-color:transparent;
}

.navbuttonright{
  background-color:#6fbbb7;
  border:1px solid #6fbbb7;
  border-radius:4px;
  padding:1rem;
  margin-top:1.5rem;
  font-family:sans-serif;
  text-align:center;
  font-style:normal;
  float:right;
}
.getstarted{
  clear:both;
  color:#fff;
}
.getstarted:hover{
  color:#fff;
  text-decoration:none;
}
.navbuttonright:hover{
  transform:scale(1.1);
}

/*nav links*/
.navbar-default .navbar-nav.navbar-right>li>a{
  color: rgba(181,183,190,0.6);
  font-size: 1.4rem;
  margin-top:1rem;
  margin-right:1rem;
}

.navbar-default .navbar-nav.navbar-right>li>a:hover{
    text-decoration:underline;
}

.navbar-default .navbar-nav.navbar-left>li>a{
    color:#fff;
    font-size:1.7rem;
    font-family:sans-serif;
    margin-top:1rem;
    margin-left:2rem;
}

.navbar-default .navbar-nav.navbar-left>li>a:hover{
  border-bottom: solid 2px #6fbbb7;
  color: rgba(255,255,255,0.4);
  font-weight: 500;
  opacity: 1;
  text-decoration: none;
}

/*hero*/
.hero{
  background-image:url("../images/hero_image2/bootcamp-heroimage.jpg");
  background-size:cover;
  background-position:center;
  height:675px;
}

.herotext{
  color:#fff;
  font-size:60px;
  font-weight:700;
  position:relative;
  top:275px;
  left:5%;
}

/*media icons*/
.mediabox{
  background-color:#EEEEEE;
  padding-right:3%;
}

/*info1*/
.info1{
  color:#727d84;
  position:relative;
  min-height:1px;
  padding-left:15px;
  padding-right:15px;
  margin:5rem 0;
}
.info1 h2{
  font-size:23px;
  font-weight:bold;
  font-style:italic;
}

/*tiy icons box*/
.tiyiconsbox{
  background-color:#EEEEEE;
  border-bottom: 1px solid #D5D5D5;
  padding:10rem 0;
  padding-top:5rem;
}
/*tiy icons blurb*/
.tiyiconsblurb{
  text-align:center;
  margin:0 auto;
  margin-bottom:5%;
  padding:3%;
  background-color:rgba(255,255,255,.7);
  border-bottom: 1px solid #D5D5D5;
  max-width:500px;
}
.tiyiconsblurb h2{
  color:#838F95;
  font-size: 34px;
  font-style:italic;
  font-weight: 400;
  line-height: 36px;
  margin-bottom:4rem;
}
.tiyiconsblurb p{
  color:black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}
.tiyicons{
  margin-left:22%;
  max-width:800px;
}

.tiyicons p{
  text-align:center;
  font-weight: 700;
  font-size: 18px;
  margin-top:3rem;
  max-width:800px;
  position:relative;
  right:5rem;
}
.tiyicons .front{
  color:rgb(206,131,45);

}
.tiyicons .back{
  color:rgb(184,88,76);
}
.tiyicons .mobile{
  color:rgb(211,180,43);
}
.tiyicons .interface{
  color:rgb(53,160,173);
}


/*employers*/
.employers{
  background-image:url("../images/hero_image2/bootcamp-image2.jpg");
  background-size:cover;
  background-position:center;
  min-height:900px;
}
.employersblurb{
  color:#fff;
  text-align:center;
  padding:2rem 0;
}
.employersblurb h2{
  font-size: 34px;
  font-style:italic;
  font-weight: 400;
  line-height: 36px;
  margin-bottom:4rem;
}
.employersblurb p{
  font-size: 18px;
  font-weight:400;
  line-height: 1.6;
}
.employericons{
  display:inline;
  text-align:center;
}
.employersbutton{
  background-color:#6fbbb7;
  border:1px solid #6fbbb7;
  border-radius:4px;
  border-bottom: 2px #74A19C solid;
  color:#fff;
  padding:2rem 8rem;
  display:inline-block;
  margin-top:5rem;
}
.employersbutton:hover{
  transform:scale(1.1);
  text-decoration:none;
  color:#fff;
}
/*.buttonbox{
  margin:15rem 40rem;
}*/

/*questions*/
.questions{
  background-color:#fff;
  margin:15px;
  padding:5rem;
}
.questions h4{
  color: #838F95;
  font-size:21px;
  font-style:normal;
  padding-bottom:10px;
  text-transform:uppercase;
}
.questions h3{
  color: #838f95;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  font-style: italic;
}
.questions p{
  color:#39474e;
  font-style:normal;
  font-size:16px;
}

/*forms*/
.forms{
  background-color:#EEEEEE;
  border:1px solid #EEEEEE;
  border-radius:7px;
  border-bottom: 1px solid #D5D5D5;
  padding:5%;
  height:350px;
}

.formsbutton{
  background-color:#6fbbb7;
  border:1px solid #6fbbb7;
  border-radius:5px;
  width:20rem;
  border-bottom:2px #74A19C solid;
  padding:1rem;
  text-align:center;
  font-size:17px;
  font-style:normal;
  font-weight:bolder;
  margin:0 auto;
  margin-top:11rem;
}
.forms #factsheet{
  width:28rem;
}
.formsbutton a{
  color:#fff;
}
.formsbutton:hover{
  transform:scale(1.1);
}
.formsbutton a:hover{
  text-decoration:none;
}


.footer{
  background-color:#39474e;;
  height:100px;
}

/*media queries*/
@media (max-width:767px){

.ironlogo{
  margin-bottom:1rem;
}

.navbuttonright{
  /*position:relative;
  bottom:30rem;*/
  float:left
}
  /*burger menu links*/
  .navbar-default .navbar-nav.navbar-right>li>a{
    clear:both;
    color:#fff;
    font-size: 1.4rem;
  }

  .navbar-default .navbar-nav.navbar-right>li>a:hover{
    color: rgba(181,183,190,0.6);
    text-decoration:underline;
  }

  .navbar-default .navbar-nav.navbar-left>li>a{
    color:#fff;
    font-size:1.4rem;
    margin-left:0;
  }

  .navbar-default .navbar-nav.navbar-left>li>a:hover{
    color: rgba(181,183,190,0.6);
    border-bottom:transparent;
    text-decoration:underline;
  }

  #factsheet{
    position:relative;
    bottom:20px;
    right:9px;
  }

  /*tiyicons*/
  .tiyicons{
    max-width:200px;
    margin-left:40%;
    margin-top:15%;
  }
  .tiyicons p{
    margin-bottom:25%;
  }

  /*questions*/
  .questions{
    margin:0;
  }
}
